.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  overflow-x: hidden;

}
.child_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
}
.child_hexa {
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  position: relative;
  top: 25px;
}
.ah,
.md {
  position: absolute;
}
