azure-storage-file-share==12.15.0
cryptography==41.0.5
fastapi==0.103.2
fastapi-debug-toolbar
fastapi-pagination==0.12.11
https://stcodxllm.blob.core.windows.net/infra-manager-builds/infra_manager-0.0.26-py3-none-any.whl?sp=r&st=2024-07-09T09:56:13Z&se=2025-03-19T17:56:13Z&spr=https&sv=2022-11-02&sr=b&sig=M0GJwbEOOJKTCW66rP7kyBsK9V9ljNTmuqCcy30962I%3D
httpx==0.25.2
huggingface_hub==0.18.0
hypercorn==0.17.3
passlib==1.7.4
psycopg2-binary==2.9.5
pydantic==2.4.2
pydantic-settings==2.0.3
PyJWT==2.7.0
python-dotenv==1.0.0
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.6
SQLAlchemy==1.4.46
starlette==0.27.0
uvicorn==0.23.2
Werkzeug==2.0.0
