venv
.venv
__pycache__
.vscode
*.log
*.pid
mathmodels.egg-info
.DS_Store
node_modules
.coverage
coverage.xml
coverage
kube_dockersecretconfig.json
build
mongo_data
postgresql_data
postgresql_logs
server_logs
task_execution_*
codex_task_executable_file_*.py
consumer_data
redis_logs
mlflow_data
blueprint_outputs
unused_views
junit.xml
.ipynb_checkpoints
liaison_pharmCAS_AACOMAS_applicant_fit
**/trained_models/*.pkl
docker/services/server/nohup.out
docker/services/server/codex_webserver_pid.txt
docker/services/server/codex_transform_pid.txt
docker/services/server/codex_data_prep_pid.txt
docker/services/server/codex_ingest_pid.txt
docker/services/server/codex_model_train_pid.txt
docker/services/server/codex_predict_pid.txt
docker/services/server/codex_experiment_pid.txt
docker/services/*.zip
codex_venv
.pytest_cache
codx_product_server_unit_tests_results.xml
codx_platform_server_unit_tests_results.xml
token.json
htmlcov
*.code-workspace
.env
.env.*