.MinervaWC .MinervaNucliosBorder {
    $borderWidth: var(--minerva-nuclios-border-width, 1px);
    $borderColor: var(--minerva-nuclios-border-color, var(--minerva-text-color-30));
    $borderGap: var(--minerva-nuclios-border-gap, 0.8em);
    border: $borderWidth solid transparent;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: calc(100% - $borderGap);
        border-top: $borderWidth solid;
        border-bottom: $borderWidth solid;
        border-color: $borderColor;
        pointer-events: none;
    }
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        height: calc(100% - $borderGap);
        width: 100%;
        border-left: $borderWidth solid;
        border-right: $borderWidth solid;
        border-color: $borderColor;
        pointer-events: none;
    }
}