https://codxstaticassets.blob.core.windows.net/genai-builds/genai-0.7.0-py3-none-any.whl?sp=r&st=2023-12-28T11:26:47Z&se=2024-11-30T19:26:47Z&spr=https&sv=2022-11-02&sr=b&sig=E2zx1RpypUJTfgQEm1jZckBg4RnXM%2F8Ay4G1qJm4%2BsM%3D
python-dotenv==1.0.0
starlette==0.27.0
