beautifulsoup4==4.11.1
cryptography==35.0.0
fastapi==0.112.2
hypercorn==0.17.3
lxml==5.2.2
msal==1.26.0
pydantic==2.8.2
pydantic_settings==2.4.0
PyJWT==2.9.0
Requests==2.32.3
sentry_sdk==2.5.1
SQLAlchemy==1.4.46
starlette==0.38.2
uvicorn==0.23.2
psycopg2-binary==2.9.5
azure-cosmosdb-table==1.0.6
azure-storage-blob==1.4.0
azure-storage-file-share==12.15.0
python-multipart==0.0.9
lxml_html_clean==0.1.0
