/* Comment.module.css */

.commentContainer {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
    color: #220047;
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
    display: flex;
    margin-top: 2rem;
    align-items: start;
    padding-left: 5rem;
    flex-direction: column;
}

.iconBar {
    display: flex;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 56px;
}

.avatarWrapper {
    margin-right: 8px; /* Space between the avatar and the content */
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: white;
    margin-left: -1rem;
    margin-top: -2rem;/* Default background color for the avatar */
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: -0.5rem;
}

.name {
    margin-bottom: 1rem;
    color: #220047;
    font-size: 1.5rem;
    font-weight: 500; /* Color for the username */
}

.textField {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #220047;
    font-size: 1.5rem;
    font-weight: 500;/* Color for the comment text */
}
.commentBox {
    margin-top: 1.2rem;
    width: 80%;
    padding: 0.8rem;
    color: #989C9C;
    box-sizing: border-box;
    transition: border 0.3s, height 0.3s;
    height: 4rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 2rem;
    border: 1.5px solid #A8AFB8;
    position: relative;
    border-radius: 3px;
    margin-left: 10rem;
    margin-bottom: 10rem;
    margin-top: -4rem;
}

.commentBoxFocused {
    border: 1.5px solid #2B70C2;
    height: auto;
    min-height: 14rem;
    border-radius: 3px; 
}

.textFieldWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .mentionInput {
        display: block;
        width: 100%;
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
        letter-spacing: inherit;
        height: 100%;
        bottom: 0;
        overflow: hidden;
        resize: none;
        border: none; /* Ensure no border */
    }
    


.mentionInput:focus {
    border: none;
    outline: none;
}

.divider {
    display: none;
    border-bottom: 1px solid #BF99BD;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dividerFocused {
    display: block;
    border-bottom: 1px solid #BF99BD;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.actionButtons {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.actionButtonsVisible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.iconButton {
    padding: 0.8rem;
}

.rotatedAttachIcon {
    width: 2rem;
    height: 2rem;
    color: #220047;
}

.sendButton {
    padding: 0.5rem;
    cursor: pointer;
    color: #220047;/* Adjusted color */
}

.attachmentContainer {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 1.6rem;
}

.attachmentCard {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 99%;
    height: 4rem;
    border: none;
    background-color: #F9F8F8; 
    border-radius: 2px;
    padding: 0.3rem; 
    position: relative;
    color :#220047;
}

.fileIcon {
    width: 1.6rem;
    height: 1.6rem;
}

.fileName {
    flex-grow: 1;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}

.fileSize{
    margin-right: auto;
}
.cancelIcon, .downloadIcon {
    width: 1.6rem;
    height: 1.6rem;
}
.cancelIcon{
    margin-top: 0.2rem;
    margin-left:0.5rem;
    margin-right:1.5rem;
}

.downloadIcon{
    width: 1.6rem;
    height: 1.6rem;
    padding-right: 1.4rem;
}


.loadingBarContainer {
    position: relative;
 width: 100%;
 height: 2.7px;

 border-radius: 2px;
 overflow: hidden;

 margin-bottom: -5rem;
 margin-left: -35rem;
}
   
   .loadingBar {
    height: 100%;
 background-color: #220047;
 border-radius: 2px;
   }
   .warningText {
     margin-top: 0.5rem;
     font-size: 1.3rem;
     color: gray;
   }


.progress {
    margin-left: 2em;
    font-size: 0.5em;
  }