# # accelerate==0.24.0
# bitsandbytes==0.41.1
# einops==0.7.0
# fastapi==0.104.0
# pydantic_settings==2.0.3
# python-dotenv==1.0.0
# sentence_transformers==2.2.2
# starlette==0.27.0
# # transformers==4.41.2
# trl
# uvicorn==0.23.2

accelerate>=0.30.1
bitsandbytes>=0.37.0
# transformers>=4.41.2
datasets>=2.16.0
einops
fastapi
fire
gradio>=4.0.0
matplotlib>=3.7.0
numpy<2.0.0
packaging
pandas>=2.0.0
peft>=0.11.1
protobuf
pydantic
pyyaml
scipy
sentencepiece
sse-starlette
tiktoken
trl>=0.8.6
uvicorn
