accelerate>=0.21.0
bitsandbytes
datasets>=2.14.3
einops
fastapi
gradio>=3.38.0,<4.0.0
jieba
matplotlib
nltk
peft>=0.7.0
protobuf
pydantic
rouge-chinese
scikit-learn
scipy
sentence_transformers
sentencepiece
sse-starlette
tiktoken
torch>=1.13.1
transformers>=4.36.2
transformers_stream_generator
trl>=0.7.6
uvicorn
