@import '../../../../../styles/util.scss';

.MinervaWC .MinervaImageViewContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: spacing(275);
    height: spacing(225);

    & .MinervaImageContainer-action {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
            font-size: 0.8em;
        }
    }
    & .MinervaImageView-actionContainer {
        display: flex;
    }
    & .MinervaImageView-hyperlink {
        font-size: 0.85em;
        color: var(--minerva-contrast-color);
        font-weight: 500;

        &:hover {
            text-decoration: none;
        }
        svg {
            vertical-align: sub;
            width: spacing(16);
            height: spacing(16);
        }
    }
}